@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

.container {
  display: flex;
  width: 90%;
  border: 1px solid black;
  background-color: rgb(223, 219, 219);
  position: relative;
  margin: 0 auto;
  top: 30px;
}
.container .item {
  display: block;
  width: 300px;
  height: 900px;
  border-right: 1px solid black;
  background-color: rgb(220, 220, 235);
}
.planet {
  display: block;
  margin: 0 auto;
  width: 100px;
}
#plannet {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}
#planit {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
}
.profile {
  width: 130px;
  margin-top: 80px;
  margin-left: 85px;
  border:1px solid #ccc;
  border-radius:50%;      
}
.nickname {
  margin-top: 20px;
}
.intro1 {
  margin-top: 30px;
}
.intro2 {
  margin-top: 40px;
}
.achieve{
  margin-left: 30px;
  margin-top: 50px;
}
.ach {
  display: flex;
  border: 1px solid white;
  background-color: white;
  width: 240px;
  height: 200px;
}
.calendar {
  margin-left: 50px;
  margin-top: 50px;
}
.cal {
  display: flex;
  border: 1px solid black;
  background-color: white;
  width: 1000px;
  height: 300px;
  margin-top: 20px;
}
.list {
  margin-left: 50px;
  margin-top: 70px;
}
.li {
  display: flex;
  border: 1px solid white;
  background-color: white;
  width: 1000px;
  height: 300px;
  margin-top: 20px;
  font-size: 25px;
}
.memo {
  margin-left: 120px;
  margin-top: 50px;
}
.me {
  display: flex;
  border: 1px solid white;
  background-color: white;
  width: 200px;
  height: 300px;
  margin-top: 20px;
  font-size: 25px;
}
.doing {
  margin-top: 70px;
  margin-left: 120px;
}
.do { 
  display: flex;
  border: 1px solid white;
  background-color: white;
  width: 200px;
  height: 300px;
  margin-top: 20px;
  font-weight: 200;
  font-size: 25px;
}