@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat+Alternates:wght@200&display=swap');
.session .joinTitle{
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}
.session .inputJoin{
    width: 350px;
    height: 40px;
    background: #4555AE;
    border: 1px solid white;
    color: white;
}
.session .doJoin{
    margin: 15px 0 15px 0;
    width: 350px;
    height: 40px;
    border:1px solid white;
    background: #4555AE;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}
.logo{
    font-size: 70px;
    color: #4555AE;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
.session ::placeholder{
    color: rgba(255,255,255,0.90);
    font-size: 16px;
    /* font-family: ; */
}